<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Big Al's Record Store</title>
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
  <%= yield %>
</body>
</html>