<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Big Al's Record Store</title>
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
    <div id="menu">
  <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/album">Albums</a></li>
  <li><a href="/artist">Artists</a></li>
  </ul>
  </div>
</head>
<body>
  <%= yield %>
</body>
</html>