th {
  width: 100%;
  text-align: center;
  font-family: 'Quattrocento', serif;
  background-color:#316571;
  color: #CBAC12;
}

td {
  text-shadow: 3px 2px 3px #7B2F2F;

  text-align: center;
  font-family: 'Quattrocento', serif;
  background: rgba(203,172,18,0.4);
  color: #316571;
}

tr {
  font-size: 30px;
}