<form action="/album" method="post">
<label for="artist-select">Select an Artist:</label>
<select name="artist_id" id="artist-select">
<% for artist in @artists %>
<option value="<%= artist.id %>"><%= artist.name %></option>
<% end %>
</select>

<label for="title">Title:</label>
<input type="text" id="title" name="title">

<label for="genre">Genre:</label>
<input type="text" id="genre" name="genre">

<label for="release-year">Year Released:</label>
<input type="number" id="release-year" name="release_year">

<label for="stock-level">Amount of Stock:</label>
<input type="text" id="stock-level" name="stock_level">

<label for="cover">Cover URL:</label>
<input type="text" id="cover" name="cover">

<label for="buy-price">Buy in Price (per record)</label>
<input type="number" id="buy-price" name="buy_price">

<label for="sell-price">Sell for Price(per record)</label>
<input type="number" id="sell-price" name="sell_price">


<input type="submit" value="Add Album">

</form>